.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.408);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  width: auto;
  overflow: hidden;
  border-radius: 12px;
}

.close-btn {
  margin-top: 10px;
  position: absolute;
  right: 10px;
  background: transparent;
  border: none;
  color: rgb(70, 0, 0);
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
}

.btn-login {
  background-color: rgb(224, 27, 224);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn-login:hover {
  background-color: darkpurple;
}
