.galeria-categoria-container {
  margin: 40px 0;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  font-family: Montserrat, sans-serif;
  align-self: center;
}

.categoria-titulo {
font-size: 4.5rem;
font-weight: 700;
margin: 0 0 10px 0;
text-align: left;
background: linear-gradient(90deg, #E91E63, #bb81f2ff);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.volver-link-hub {
display: block;
text-align: left;
margin-bottom: 40px;
font-size: 1rem;
font-weight: 500;
color: #555;
text-decoration: none;
}
.volver-link-hub:hover {
color: #E91E63;
}

.obra-grid {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 15px;
}

.obra-card {
display: flex; 
 flex-direction: column;
text-decoration: none; 
color: #333;
overflow: hidden; 
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.obra-card:hover {
transform: translateY(-5px);
box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.obra-card-img {
 width: 100%;
 height: 250px;
 object-fit: cover;
 display: block;
}

.obra-card-info {
 background-color: #222;
 color: #fff;
 padding: 15px 20px;
 text-align: center;
 min-height: 80px;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.obra-card-title {
font-size: 1rem; 
font-weight: 600;
 color: #fff;
padding: 0;
margin: 0;
 
 white-space: normal; 
 word-wrap: break-word; 
 max-height: 2.4em; 
 overflow: hidden; 
s text-overflow: ellipsis; 
 line-height: 1.2em; 
}

.obra-card-autor {
 font-size: 0.85rem; 
 font-weight: 400;
 color: #ddd; 
 margin: 0 0 5px 0; 
}

@media (max-width: 992px) {
.obra-grid {
 grid-template-columns: repeat(2, 1fr);
}
.categoria-titulo {
 font-size: 3rem;
}
}

@media (max-width: 576px) {
.obra-grid {
 grid-template-columns: 1fr;
}
.categoria-titulo {
 font-size: 2.5rem;
 text-align: center;
}
.volver-link-hub {
 text-align: center;
}
}